html,body{
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-width: 100%;
  align-items: center;

}
#app{
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.board{
  display: flex;
  flex-direction: column;

  background: rgba(224, 227, 230, .7);

  padding: 10px 0;
  box-sizing: border-box;
  max-width: 720px;
  min-width: 300px;
  border-radius: 4px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
  margin: 15px auto;
  height: fit-content;

  &__title{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    text-decoration: underline;

  }
  &__container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    //min-height: 100px;

    &-list{
      box-sizing: border-box;
      //height: 475px;
    }

    &_loading{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      & i{
        color: #9a9ae1;
      }
    }
  }
}